*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./ReadHut-Img/spaceship-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 30px;
    /* z-index: -3; */
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: rgba(29,33,61,0.5);
    padding: 0 60px;
    box-sizing: border-box;
   
}
.logo{
    width: 155px;
  

}
.logo img{
    width: 30px;
    position: relative;
    z-index: 10;
    cursor: pointer;;
}
nav{
    flex: 1;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 20px;

}
nav ul li{
    list-style: none;
padding: 5px;
    cursor: pointer;
}
nav ul li:hover{
  background-color: #ffffff;
 border-radius: 30px;
 padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  
}
nav ul li:hover a{
  color: black;
}
.user{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}
.sidebar{
    width: 155px;
    height: 100vh;
    background: rgba(29,31,58,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.search-icon{
    width: 20px;
    display: block;
    margin: 120px auto 0;
    cursor: pointer;

}
.social-links{
    width: 20px;
    display: block;
    margin: 220px auto 0;
    text-align: center;
}
.social-links img{
    height: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}

.info-icon{
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    

}
.msg-container{
    width: 600px;
    height: 280px;
    position: absolute;
    left: 14%;
    top: 57%;
    transform: translateY(-50%);
    overflow: hidden;
   
}
#slider{
    display: inline-flex;
    transition: 0.5s;
}
.msg-col{
width: 600px;
height: 280px;
}
.msg-col h2{
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    margin: 10px 0;
}
.msg-col p{
    color: #ddd;
    font-size: 18px;
    line-height: 25px;
}
.msg-col a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    background: #fff;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;
}
.controller{
    width: 1px;
    height: 320px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
    z-index: 5;
}
#line1,#line2,#line3,#line4{
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
    /* background-color: #555; */
}
#active{
    width: 15px;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}

.png{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    /* z-index: 1; */
    
}
.png img{
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;

}
/* cards */


